{% extends "layout.html" %}

{% block pageTitle %}
  You cannot use this service – Book a ticket to travel to the moon – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You cannot use this service</h1>

      <p class="govuk-body">Based on your answers, you are not eligible to book a ticket to travel to the moon.</p>

      <h2 class="govuk-heading-m">What you can do next</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>apply for a future lunar medical assessment</li>
        <li>check the UK Government lunar programme guidance</li>
        <li>contact your employer to discuss alternative roles</li>
      </ul>

      <p class="govuk-body"><a class="govuk-link" href="/moon/start">Return to start</a></p>
    </div>
  </div>
{% endblock %}
