{% extends "layout.html" %}

{% block pageTitle %}
  Book a ticket to travel to the moon – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Moon travel service</span>
      <h1 class="govuk-heading-xl">Book a ticket to travel to the moon</h1>

      <p class="govuk-body">Apply for a ticket to travel to the moon for work on the UK Government lunar programme. The service checks eligibility, collects work details and confirms safety requirements.</p>

      <div class="govuk-inset-text">
        You can only use this service if you are a UK citizen and have a confirmed job placement on the lunar programme.
      </div>

      <h2 class="govuk-heading-m">Before you start</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>your National Insurance number</li>
        <li>your lunar employer reference</li>
        <li>your preferred launch window</li>
        <li>details of your emergency contact in the UK</li>
      </ul>

      <a class="govuk-button" data-module="govuk-button" href="/moon/eligibility">Start now</a>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-list--spaced">
            <li><a class="govuk-link" href="https://www.gov.uk/government/publications">Lunar programme policy</a></li>
            <li><a class="govuk-link" href="https://design-system.service.gov.uk">GOV.UK Design System</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}
