{% extends "layout.html" %}

{% block pageTitle %}
  Are you 18 or over? - Book lunar work travel - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "/eligibility/uk-citizen"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/eligibility/age-answer" method="post">

        {{ govukRadios({
          name: "over-18",
          fieldset: {
            legend: {
              text: "Are you 18 or over?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You must be at least 18 years old to travel to the Moon for work."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("over-18", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("over-18", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
